body {
    background-color: #c4d8e2;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1a5276;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

.form-group input, 
.form-group textarea,
.form-group select {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2993b9;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.form-group input[type="file"] {
    cursor: pointer;
}

.form-group input:focus, 
.form-group textarea:focus,
.form-group select:focus {
    background-color: #5db6f1;
}

.form-group input::placeholder,
.form-group textarea::placeholder,
.form-group select::placeholder {
    color: #ffffff;
    font-weight: bold;
}

.form-group input:focus::placeholder,
.form-group textarea:focus::placeholder,
.form-group select:focus::placeholder {
    color: transparent;
}

.submit-btn {
    background-color: #3482b6;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: hsl(133, 64%, 44%);
}

.filtered-category strong {
    font-weight: bold;
}

#filteredCategoriesContainer,
#filteredSubCategoriesContainer {
    position: absolute;
    top: calc(100% + 5px);
    display: none;
    flex-direction: column;
    background-color: #2993b9;
    border: 1px solid #ccc;
    z-index: 1000;
    color: #ffffff;
    font-family: Arial, sans-serif;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding-left: 5px;
    position: fixed;
    width: auto;
    min-width: 150px;
}
